<h2 class="list_news">List news</h2>
<section class="content">
	<section class="col-md-1"></section>
	<section class="col-md-5">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Cat1
			</div>
			<div class="panel-body">
				djfhdfh
			</div>
		</div>
	</section>
	<section class="col-md-1">
		
	</section>
	<section class="col-md-5">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Cat2
			</div>
			<div class="panel-body">
				djfhdfh
			</div>
		</div>
	</section>
</section>
